@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

@theme {
  --color-primary: #2D60FF;
  --color-primary-100: #2D60FF;
  --color-primary-200: #343C6A;
  --color-primary-300: #539BFF;
  --color-primary-400: #718EBF;
  
  --color-yellow: #FEAA09;
  
  --color-light: #F5F7FA;
  --color-light-100: #F5F7FA;
  --color-light-200: #DFEAF2;
  
  --color-magenta: #FE5C73;
  --color-cyan: #16DBCC;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
   cursor: pointer;
}


/* Hide default button of input num type in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

/* Firefox */
input[type="number"] {
 -moz-appearance: textfield;
}

img {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -o-user-drag: none;
}


button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled {
   pointer-events: none;
   opacity: 0.5;
}

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
   display: none;
}
